<h1>Welcome To Orion's Belt</h1>
<div id="home-text">
    <h2>A place where you can find and add games and guides.</h2>
    <p>Make an account and log in to start creating or dive right in and start browsing</p>
</div>