<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Orion's Belt</title>
      <link rel="stylesheet" href="./stylesheets/style.css" />
      <link rel="stylesheet" href="../stylesheets/style.css" />
   </head>
   <body>
      <div id="backgroundImage"></div>
      
      <nav id="wholeNav">
         <ul id="navOptions" style="list-style: none">
            <li><a href="/home">HOME</a></li>
            <li><a href="/games">GAMES</a></li>
            <li><a href="/guides">GUIDES</a></li>
            <li><a href="/posts">POSTS</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/profile" id="profileIcon"></a></li>
         </ul>
      </nav>
      <div id="bodyWrapper">
      {{{body}}}
      </div>

      <script src="/js/script.js"></script>
   </body>

</html>