html{
  margin: 0;
  min-height: 100%;
  position:relative;
}
body {
  margin: 0;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(0deg, rgba(7,40,60,1) 0%, rgba(58,21,74,1) 100%);
  background-repeat: no-repeat;
}
/* background image */
#backgroundImage{
  background-image: url("../images/galaxy2.jpg");
  opacity: 1;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  position:absolute;
  top:0;
  width: 100%;
  height: 100%;
}
/* nav bar */
#wholeNav{
  z-index: 1;
  display: flex;
  position: sticky;
  margin: 400px auto 0px auto;
  top:0;
  background-color: rgba(0, 0, 0, .7);
  width: 80%;
  justify-content: center;
}
#navOptions{
  padding:0;
  width:100%;
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
  justify-items: center;
}
#wholeNav ul li a {
  font-size: 20px;
  color: darkmagenta;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: blue;
}
a:active {
  text-decoration: none;
  color: purple;
}
#profileIcon{
  background-image: url("../images/profile-icon.png");
  display: block;
  background-size: cover;
  width: 50px;
  height: 50px;
}


/* h1 {
  color: 15px;
} */

#guidesHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 100px;
  width: 100%;
  /* margin-top: 0; */
}
.guide{
  overflow:hidden;
  background-color: rgba(0, 0, 50, 0.8);
  padding: 1px 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  width: 80%;
  height: 115px;
}
#createGuide{
  background-color: lightgray;
  font-weight:bold;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
#bodyWrapper{
  display: flex;
  position:relative;
  margin-left: auto;
  margin-right:auto;
  background-color: rgba(60, 60, 60, 0.8);
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 1400px;
}
#gameView{
  background-color: rgba(0,0,0, .1);
  margin: 20px 50px;
  padding: 20px 20px;
  border: none;
  border-radius: 20px;
}
#editButton:target{
  display: block;
}