html{
  margin: 0;
  min-height: 100%;
  position:relative;
}
body {
  color: white;
  margin: 0;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  background-repeat: no-repeat;
}
/* background image */
#backgroundImage{
  background: black url("../images/galaxy2.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  position:absolute;
  top:0;
  width: 100%;
  height: 100%;
}

#home-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.8);
  box-shadow: 0 0 30px black;
  border-radius: 25px;
  padding: 50px;
}
#home-text > *{
  margin: 0;
}
/* nav bar */
#wholeNav{
  z-index: 1;
  display: flex;
  position: sticky;
  margin: 200px auto 0px auto;
  top:0;
  background-color: rgba(0, 0, 0, .8);
  width: 80%;
  justify-content: center;
}
#navOptions{
  padding:0;
  width:100%;
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
  justify-items: center;
}
#wholeNav ul li a {
  font-size: 20px;
  font-weight: 700;
  color: darkmagenta;
}
#wholeNav ul li a:link {
  text-decoration: none;
}
#wholeNav ul li a:hover {
  text-decoration: none;
  color: blue;
}
#wholeNav ul li a:active {
  text-decoration: none;
  color: purple;
}
#profileIcon{
  background-image: url("../images/profile-icon.png");
  display: block;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.accountLink{
  color:red;
}

h1 {
  font-size: 3rem;
}

#guidesHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 100px;
  width: 80%;
}
.guide{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow:hidden;
  background-color: rgba(0, 0, 50, 0.8);
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  width: 80%;
  height:fit-content;
  min-height: 115px;
  box-shadow: 0px 10px 20px black;
}
.guide:hover{
  transform: translate(0px, -5px);
  
}
.guide h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 40px;
  margin: 0;
  weight: 100%;
  height: 100%;
  color: purple;
}
.guide a:link{
  text-decoration: none;
  width: 100%;
  height: 100%;
}
#createGuide{
  background-color: lightgray;
  font-weight:bold;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
#bodyWrapper{
  display: flex;
  position:relative;
  margin-left: auto;
  margin-right:auto;
  background-color: rgba(60, 60, 60, 0.8);
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: 600px;
  margin-bottom: 200px;
}
#gameView{
  background-color: rgba(0,0,0, .1);
  margin: 20px 50px;
  padding: 20px 20px;
  border: none;
  border-radius: 20px;
  width: 80%;
}
#editButton:target{
  display: block;
}
.comment{
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0, .1);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
}
@media (max-width: 950px){
  #wholeNav{
    width: 100%;
  }
  #bodyWrapper{
    width: 100%;
  }
  #guidesHolder{
    width: 100%;
    margin: 20px 0;
  }
  .guide{
    width: 98%;
  }
}